.footer{
    height: 50px;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
}

.socialMedia{
    display: flex;
    align-items: center;
    gap: 10px;
}
.socialIcon{
    cursor: pointer;
}